<%- include("partials/header"); -%>
    <h1>About Me</h1>
    <p> <%= aboutContent %> </p>
    <p> You can call me Bryserker, because I am Bryan and I like to go berserk. Get it? </p>
<%- include("partials/footer"); -%>
